body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* MENU */
.navbar {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    padding:  20px 10px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar a {
    font-size: 20px;
    color: #272e4f;
    padding: 15px 20px;
    text-decoration: none;
    
}
  
.navbar a:hover {
    color: #ff5e3a ;
}

.navlogo{
    margin-right: 60px;
    height: 35px;
}

/* CONTEÚDO DE AVISO */ 

.aviso {
    text-align: center;
    padding: 1rem 0;
    background-color: #2c365d;
    color: white;
    /*background-image: linear-gradient(to right, #2D27FF, #FF0A6C); ;*/
}

.avisobotao {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #ff5e3a ;
    padding: .5rem .8rem;
    border-radius: 5px;
    text-decoration: none;
}