body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}
  
.navbar a {
    float: right;
    font-size: 20px;
    color: #2D27FF;
    text-align: certer;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
